<html>
<head>
  <title>Preact experiment</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="root">
    <%- html %>
  </div>
  <script>window.initialState = <%- state %></script>
  <script src="bundle.js"></script>
</body>
</html>
